@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&family=Roboto+Condensed&family=Rubik&display=swap');

/* font-family: 'Rubik', sans-serif; */
/* font-family: 'B612 Mono', monospace; */
* {
    margin: 0;
    padding: 0;
}

/* header section */

header {
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 1;
    overflow: auto;
}

.logo {
    padding: 20px 0px 20px 40px;
    float: left;
    color: rgb(255, 217, 0);
    font-family: 'B612 Mono', monospace;
    font-size: 70px;
    letter-spacing: 1px;
    font-weight: 900;
}

.logo span{
    font-weight: 900;
    color: rgb(255, 136, 0);
}

.navigation {
    font-family: 'Rubik', sans-serif;
    float: right;
    /* color: rgb(255, 255, 255); */
}

.navigation ul, li {
    display: inline-block;
    padding: 20px 20px 20px 10px;
}

.navigation a{
    padding: 8px;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(255, 217, 0);
    color: rgb(255, 217, 0);
    text-decoration: none;
    font-size: 40px;
    font-weight: 900;
    transition: all 200ms ease;
}

.navigation a:hover {
    border-radius: 30px;
    border-color: rgb(255, 136, 0);
    background-color: rgb(255, 136, 0);
    color: rgb(0, 0, 0);
    padding: 25px 10px 25px 10px;
}


/* main content */
/* section {
    width: 100%;
    position: relative;
} */

.home  {
   /* width: 100%; */
   position: relative;
   background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('pizza-img1.jpg');
   background-position: center;
   background-repeat: no-repeat;
   height: 800px;
   background-size: cover;
   text-align: center;
   color: rgb(255, 217, 0);
   overflow: auto;
}

.home h1.welcome {
    padding-top: 120px;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
}
.home h1.recipes {
    font-family: 'Rubik', sans-serif;
    font-size: 120px;
}
.home p {
     /* top  right  bottom left */
    margin: 100px 400px 0px 400px;
    font-family: 'B612 Mono', monospace;
    font-size: 30px;
}

/* pizza section */
.pizzas {
    /* background-color: rgba(0, 0, 0, 0.384); */
    border-top: 30px solid black;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('pizza-bg.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    overflow: auto;
    text-align: center;
}

.pizzas img.pizzaImg {
    width: 400px;
    height: 400px;
    float: left;
    margin: 120px 0px 20px 320px;
}
.pizzas p span{
    font-family: 'B612 Mono', monospace; 
    color:rgb(255, 217, 0);
    font-size: 40px;
    font-weight: 900;
}
.pizzas p.pizzaName {
    float: right;
    color: rgb(255, 217, 0);
    margin: 300px 550px 20px 0px;
    font-family: 'B612 Mono', monospace; 
    font-size: 60px;
}

.pizzas p.pizzaInfo {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: rgb(255, 193, 123);
    text-align: justify;
    margin: 550px 400px 120px 400px;
}

.pizzas p.pizzaCook {
    text-align: justify;
    margin: 100px 400px 0px 400px;
}

.pizzas ul.pizzaIng{
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 193, 123);
    font-size: 30px;
    text-align: justify;
    margin: 0px 400px 0px 400px;
}
.pizzas ul.pizzaIng li{
    display: block;
}

.pizzas p.howToCook {
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 193, 123);
    font-size: 30px;
    text-align: justify;
    margin: 0px 400px 0px 400px;
}

hr {
    margin: 100px 400px 0px 400px;
    border: 3px solid rgb(255, 136, 0);
}